body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    border: border-box;
    height: 100vh;
    overflow: hidden;
    background-color: #fbfbfb;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;

}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;

}
form .txtfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;

}
.txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txtfield span ::before{
    position: absolute;
    content: '';
    top: 40px;
    left: 0;
    height: 2px;
    background: 2691d9;
}
.txtfield input :focus ~ label,
.txtfield input :focus ~ label{
    top: -5px;
    color: rgb(0, 236, 236);
}
.txtfield input :focus ~ span::before,
.txtfield input :focus ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 1 20px 5px;
    color: rgb(108, 108, 108);
    cursor: pointer
    ;
}
.pass :hover{
    text-decoration: underline;

}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #c18b46;
    font-size: 18-x;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="Submit"] :hover{
    border-color: #92582f;
    transition: .5s;
}
.Signup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: 2691db;

}
.Signup a{
    color: #363636;
    text-decoration: none;
}

.Signup a :hover{
    text-decoration: underline;
}